@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Hubballi-Regular.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
}